html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  letter-spacing: 0.05em;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #f5f3f4;
  background-color: #161a1d;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  width: 825px;
  max-width: 825px;
  height: auto;
  max-height: autox;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 1.5em;
}

header img {
  width: 8em;
  border: 3px #f5f3f4 solid;
  background-color: #161a1d;
  border-radius: 10px;
  transition: 1s ease;
}

header h1 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 0.3em;
  color: #00adff;
  transition: 1s ease;
}

header h2 {
  font-weight: 400;
  font-size: 1.03em;
  margin-bottom: 0;
}

header nav {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-end;
}

header nav div {
  height: 8em;
  width: 8em;
  border: 3px #494949 dotted;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}

header nav div:hover,
header nav div:active {
  border: 3px #f5f3f4 dotted;
}

header a {
  color: #494949;
  font-size: 1em;
  transition: 1s ease;
}

header nav a:hover,
header nav a:active {
  color: #f5f3f4;
}

section.full-panel {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  padding: 1.5em;

  height: 100%;
  border-radius: 10px;
  color: #161a1d;
  background-color: #f5f3f4;
}

h2 span {
  color: #00adff;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1em;
}

section:last-child {
  margin-bottom: 0;
}

div.panels-divisor {
  width: 0.3em;
  height: 100%;
  align-self: center;
  background-color: #161a1d;
}

section#left-panel {
  width: 100%;
  margin-bottom: 0;
}

section#right-panel {
  width: 70%;
  margin-bottom: 0;
}

h2 {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 0.9em;
}

h4 {
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 0.2em;
}

h4 a {
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 0.2em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.6em;
  font-weight: 400;
  margin-bottom: 1em;
}

.left-panel-section h5 {
  margin-bottom: 0.2em;
}

.right-panel-section h4 {
  line-height: 1.2em;
}

.right-panel-section h5 {
  margin-bottom: 1em;
}

p {
  text-align: justify;
  font-size: 0.95em;
  line-height: 1.4em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

p a {
  display: inline-block;
}

section p:last-child {
  margin-bottom: 2em;
}

#experience p:last-child {
  margin-bottom: 0em;
}

a {
  color: #161a1d;
  font-size: 0.95em;
  line-height: 1.4em;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-decoration: none;
  display: flex;
  align-items: center;
}

svg {
  width: 1em;
  margin-right: 0.5em;
}

a:last-child {
  margin-bottom: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  color: #acacac;
  height: 100%;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer div {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  margin-bottom: 0.5em;
  margin-right: 0;
}

.footer svg {
  margin-right: 0.3em;
  width: 1em;
}

.footer h5 {
  font-size: 0.75em;
  font-style: italic;

  text-align: right;
  margin-bottom: 0;
  line-height: 0;
}
.footer span {
  font-size: 2em;
  margin-bottom: 0;
  line-height: 0;
}



/*  responsive layout  */
@media (max-width: 1300px) {
  .dot {
    display: none;
  }
}

@media (max-width: 1025px) {
  .dot {
    display: none;
  }
}

@media (max-width: 768px) {
  .dot {
    display: none;
  }
}

@media (max-width: 570px) {

  main {
    padding: 0.5em;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }

  header {
    gap: 0.5em;
    margin-bottom: 0.5em;
    justify-content: space-between;
  }

  header img {
    width: 4em;
  }

  header h1 {
    font-size: 1.75em;
  }

  header h2 {
    font-weight: 400;
    font-size: 0.6em;
  }

  header nav {
    flex-grow: 0;
  }

  header nav div {
    flex-grow: 0;
  }

  header nav div {
    height: 4em;
    width: 4em;
  }

  header a {
    font-size: 0.5em;
  }

  section {
    margin-bottom: 0.5em;
  }

  section.full-panel {
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    height: 100%;
  }

  .br {
    display: none;
  }

  .dot {
    display: inline-block;
  }

  section {
    margin-bottom: 1em;
  }

  section:last-child {
    margin-bottom: 0.5em;
  }
  

  div.panels-divisor {
    display: none;
  }

  section#right-panel {
    width: 100%;
  }

  h2 {
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  h4 {
    font-size: 0.7em;
  }

  h4 a {
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 0.2em;
  }

  h5 {
    font-size: 0.7em;
    line-height: 1.6em;
    font-weight: 400;
    margin-bottom: 1em;
  }

  p {
    font-size: 0.7em;
    line-height: 1.4em;
    margin-bottom: 0.5em;
  }

  section p:last-child {
    margin-bottom: 1em;
  }

  a {
    font-size: 0.7em;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: 0.5em;
  }

  .footer h5 {
    font-size: 0.75em;
  }
}

@media (max-width: 360px) {
  main {
    padding: 0.5em;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }

  header {
    gap: 0.5em;
    margin-bottom: 0.5em;
    justify-content: space-between;
  }

  header img {
    width: 4em;
  }

  header h1 {
    font-size: 1.75em;
  }

  header h2 {
    font-weight: 400;
    font-size: 0.6em;
  }

  header nav {
    flex-grow: 0;
  }

  header nav div {
    flex-grow: 0;
  }

  header nav div {
    height: 4em;
    width: 4em;
  }

  header a {
    font-size: 0.5em;
  }

  section {
    margin-bottom: 0.5em;
  }

  section.full-panel {
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    height: 100%;
  }

  .br {
    display: none;
  }

  .dot {
    display: inline-block;
  }

  section {
    margin-bottom: 1em;
  }

  section:last-child {
    margin-bottom: 0.5em;
  }
  

  div.panels-divisor {
    display: none;
  }

  section#right-panel {
    width: 100%;
  }

  h2 {
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  h4 {
    font-size: 0.7em;
  }

  h4 a {
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 0.2em;
  }

  h5 {
    font-size: 0.7em;
    line-height: 1.6em;
    font-weight: 400;
    margin-bottom: 1em;
  }

  p {
    font-size: 0.7em;
    line-height: 1.4em;
    margin-bottom: 0.5em;
  }

  section p:last-child {
    margin-bottom: 1em;
  }

  a {
    font-size: 0.7em;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: 0.5em;
  }

  .footer h5 {
    font-size: 0.75em;
  }
}

@media print {
  body {
    width: 8.25in;
    height: 11.75in;
    padding: 0;
    margin: 0;
    display: block;
  }

  header {
    margin-left: 1.5em;
  }

  header nav {
    display: none;
  }
  div.panels-divisor {
    width: 0.3em;
    height: 87vh;
  }
}