html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  letter-spacing: 0.05em;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #f5f3f4;
  background-color: #161a1d;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 825px;
  max-width: 825px;
  height: auto;
  max-height: auto;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

header img {
  width: 8em;
  border: 3px #f5f3f4 solid;
  border-radius: 10px;
  transition: 1s ease;
}

header .header-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

header h1 {
  font-size: 3em;
  font-weight: 700;
  color: #00adff;
}

header h2 {
  font-weight: 400;
  font-size: 1.03em;
  margin-bottom: 0;
}

header nav {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-end;
}

header nav .navigation-border {
  height: 8em;
  width: 8em;
  border: 3px #494949 dotted;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}

header nav div:hover,
header nav div:active {
  border: 3px #f5f3f4 dotted;
}

header a {
  color: #494949;
  font-size: 1em;
  transition: 1s ease;
}

header nav a:hover,
header nav a:active {
  color: #f5f3f4;
}

header .contact {
  display: flex;
  gap: 1em;
}

header .contact-row {
  display: flex;
  flex-direction: column;
}

header .contact a {
  font-size: 0.9em;
  color: #f5f3f4;
}

section.full-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;

  height: 100%;
  border-radius: 10px;
  color: #161a1d;
  background-color: #f5f3f4;
}

h2 span {
  color: #00adff;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section.full-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

section:last-child {
  margin-bottom: 0;
}

div.panels-divisor {
  width: 0.2em;
  height: 100%;
  align-self: center;
  background-color: #161a1d;
}

section#left-panel {
  width: 100%;
  margin-bottom: 0;
  gap: 0.6em;
}

.left-panel-section h5 {
  margin-bottom: 0.2em;
}

#projects-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.7em;
}

section#right-panel {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  gap: 1em;
}

h2 {
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 0.4em;
}

h4 {
  display: inline-block;
  font-weight: 500;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

h4 a {
  font-weight: 500;
  font-size: 0.95em;
  margin-bottom: 0.2em;
}

h5 {
  display: inline-block;
  font-size: 0.85em;
  line-height: 1.6em;
  font-weight: 400;
  margin-bottom: 0.7em;
}

/* #skills.right-panel-section  {
  width: 99%;
} */

/* .right-panel-section .education-contact {
  width: 20%;
} */

.right-panel-section h4 {
  line-height: 1.2em;
}

.right-panel-section h5 {
  margin-bottom: 0.7em;
}

p {
  text-align: justify;
  font-size: 0.85em;
  line-height: 1.4em;
  font-weight: 300;
  margin-bottom: 0.2em;
}

p a,
li a {
  display: inline-block;
}

section p:last-child {
  margin-bottom: 0.8em;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

li {
  font-size: 0.85em;
  line-height: 1.4em;
  font-weight: 300;
  text-align: justify;
  list-style-position: inside;
}

li a {
  font-size: 1em;
}

.projects-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

span.blue-hyphen {
  font-size: 0.9em;
  font-weight: 900;
  color: #00adff;
}

span.blue-parentheses {
  font-size: 0.9em;
  font-weight: 900;
  color: #00adff;
}

span.black-hyphen {
  font-size: 0.9em;
  font-weight: 600;
  color: #161a1d;
}

.job-title-date {
  display: flex;
  align-items: center;
  gap: 0.3em;
  border-bottom: #161a1d27 2px solid;
}

.job-title-date .date {
  margin-left: auto;
}

#experience p {
  margin-bottom: 0.2em;
}

#experience li {
  margin-bottom: 0.17em;
}

#experience li:last-child {
  margin-bottom: 0.8em;
}

a {
  color: #161a1d;
  font-size: 0.95em;
  line-height: 1.4em;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#skills h5 {
  font-weight: 300;
  margin-bottom: 0.4em;
}

#skills h5:last-child {
  margin-bottom: 0;
}

svg {
  width: 1em;
  margin-right: 0.5em;
}

a:last-child {
  margin-bottom: 0;
}

#education {
  margin-top: 0.8em;
}

#education h5 {
  margin-bottom: 0.5em;
}

#education h5:last-child {
  margin-bottom: 0;
}

.course-date {
  display: flex;
  align-items: center;
  gap: 0.3em;
  height: 1.5em;
  border-bottom: #161a1d27 2px solid;
}

.course-date .date {
  margin-left: auto;
  align-items: center;
}

.course-date .date h5 {
  margin-bottom: 0;
}

.footer {
  position: absolute;
  bottom: 15px;
  right: 10px;
  color: #acacac;
  height: 100%;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer div {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  margin-bottom: 0.5em;
  margin-right: 0;
}

.footer svg {
  margin-right: 0.3em;
  width: 1em;
}

.footer h5 {
  font-size: 0.75em;
  font-style: italic;

  text-align: right;
  margin-bottom: 0;
  line-height: 0;
}
.footer span {
  font-size: 2em;
  margin-bottom: 0;
  line-height: 0;
}

/*  responsive layout  */
@media (max-width: 2500px) {
}

@media (max-width: 770px) {
  main {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }

  header h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #00adff;
  }

  header h2 {
    font-weight: 400;
    font-size: 1em;
  }

  header .contact a {
    font-size: 0.75em;
  }

  .job-title-date {
    flex-wrap: wrap;
  }

  .job-title-date .blue-hyphen {
    display: none;
  }

  .job-title-date h4 {
    order: 0;
  }

  .job-title-date .date {
    order: 1;
  }

  .job-title-date h5 {
    order: 2;
    flex-basis: 100%;
  }

  /* 
  h2 {
    font-size: 1em;
  }

  .job-title-date h4{
    font-size: 0.8em;
  }

  .job-title-date h5{
    font-size: 0.8em;
  } */
}

@media (max-width: 700px) {
  main {
  }

  header .contact a {
    font-size: 0.55em;
    margin-bottom: 0.3em;
  }
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.8em;
    font-weight: 700;
    color: #00adff;
  }

  header h2 {
    font-size: 0.85em;
  }

  header .contact {
    flex-direction: column;
    gap: 0.1em;
  }

  header .contact a {
    font-size: 0.7em;
    margin-bottom: 0.3em;
  }
}

@media (max-width: 570px) {
  main {
  }

  header img {
    width: 7em;
    border: 2px #f5f3f4 solid;
  }

  header .header-content {
    gap: 0.35em;
  }

  header nav .navigation-border {
    height: 7em;
    width: 5em;
    border: 2px #494949 dotted;
  }

  header nav div:hover,
  header nav div:active {
    border: 2px #f5f3f4 dotted;
  }

  header a {
    color: #494949;
    font-size: 0.8em;
  }

  header h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: #00adff;
  }

  header h2 {
    font-weight: 400;
    font-size: 0.7em;
  }

  header .contact {
    gap: 0.05em;
  }

  header .contact a {
    font-size: 0.6em;
    margin-bottom: 0.2em;
  }

  .course-date h4 {
    font-size: 0.8em;
  }


}

@media (max-width: 470px) {
  main {
  }

  header {
  }

  header h1 {
    font-size: 1.3em;
    font-weight: 700;
    color: #00adff;
  }

  header h2 {
    font-weight: 400;
    font-size: 0.6em;
  }

  header .contact a {
    font-size: 0.57em;
  }

  section.full-panel {
  }

  .course-date h4, .course-date h5 {
    font-size: 0.7em;
  }

}

@media (max-width: 360px) {
  main {
  }
}

/* print resume page */
@media print {
  body {
    width: 8.25in;
    height: 11.75in;
    padding: 0;
    margin: 0;
    display: block;
  }

  header {
    margin-left: 0em;
  }

  header nav {
    display: none;
  }
}
