* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  color: #f5f3f4;
  background-color: #161a1d;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  border: #00adff solid 0.1em;
}


h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 400;
  line-height: 1em;
}

h1 span {
  color: #f72585;
  /*alternate color: #197ca3; */
  /*alternate color: #ff4f52; */
  /*alternate color: #00adff; */
  /*alternate color: #f72585; */
  /*alternate color: #00adff; */
  /*alternate color: #ffb703; */
}

h1:nth-child(2) span {
  color: #00adff;
  /*alternate color: #197ca3; */
  /*alternate color: #ff4f52; */
  /*alternate color: #00adff; */
  /*alternate color: #f72585; */
}

section#contact {
  flex-direction: row;
  align-items: flex-end;
}

nav {
  display: flex;
  border: #00adff solid 0.1em;
  background-color: #131416;
}

nav > * {
  margin-right: 2em;
  text-decoration: none;
  color: #f5f3f4;
  font-size: 1.6em;
  font-weight: 100;
}

nav a:nth-child(1) {
  margin-left: 5em;
  color: #f72585;
}

nav a:hover, a:active {
  color: #f72585;
}

